<nav>


    <ul class="navbar-nav" >
      <a [routerLink]="['/home']" routerLinkActive="active">Aulas</a>
    <li><a [routerLink]="['/home']" routerLinkActive="active">home</a></li>
    <li><a [routerLink]="['/calculator']" routerLinkActive="active">calculadora</a></li>
    <li><a [routerLink]="['/ev-ref']" routerLinkActive="active">evAndRef</a></li>
    <li><a [routerLink]="['/p-color']" routerLinkActive="active">color</a></li>
    <li><a [routerLink]="['/compras']" routerLinkActive="active">lista-compras</a></li>
    <li><a [routerLink]="['/chuck']" routerLinkActive="active">chuck</a></li>
    </ul>



</nav>
