<input type="text" [(ngModel)]="name">
<p>Bem vindo {{name}}</p>




<div id="resume">
  <img src="https://cdn.discordapp.com/avatars/353968936838234114/a_63e68822e53e0271d2c0eb58fd3ade1a.gif?size=256&f=.gif" alt="myDc pfp">
  <h1>Xavier Monteiro</h1>
  <p>Telemóvel <a href=#>+351 915225658</a>
  <p>Web: <a href=#>Coming soon</a>
  <p>Github: <a href="https://github.com/xavier-monteiro" target="blank">xavier-monteiro</a>
  <p>Email: <a href=#>xaviermonteiro05@gmail.com</a>
  <p id="objective">Sou um jovem profissional reservado, mas ambicioso, em busca de uma carreira que se encaixe em minhas habilidades profissionais e personalidade. Meu bom nascimento e excelente educação me permitiram avançar nas perspectivas de vários empreendimentos.
<dl>
  <dt>Educação
  <dd>
    <h2>Intituto Politecnico Cavado e Ave</h2>
    <p><strong>CTESP</strong>Desenvolvimento Web e Multimédia<br/>

</dl>
<dl>
<dt>Habilidades
<dd>
<h2>Habilidades básicas</h2>
<p>Microsoft Software(Word,Excel,Powerpoint,etc),Gestão e Criação de Base de Dados, Photoshop , Unity 3d
<h2>Habilidades avançadas</h2>
<p>Criação e edição de websites estáticos e dinamicos,Desenvolvimento em SPA(single page aplication) usando a framework Angular, Desenvolvimento desktop em c# , Desenvolvimento Bots no Discord(node.js,discord.js), Gimp
</dl>
<dl>
<dt>Experiencia
<dd>
<h2>Estágio na empresa EINFOR<span>Vermoim 2019 – 2020</span></h2>
<ul>
<li>Desenvolvimento duma aplicação de gestão financeira em c#
<li>Reparação e formatação de computadores
</ul>
</dd>
</dl>
<dl>
<dt>Passatempos
<dd>Jogar variedade de videojogos, ouvir musica, adquirir novas competencias.
</dl>
<dl>
<dt>Propostas de Trabalho
<dd>Disponivel para contato
</dl>


</div>

<div id="dc-server">
  <iframe  src="https://discord.com/widget?id=849765640269070356&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>

